.recipe-container {
  min-height: 540px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe-box{
  padding: 20px;
}

.recipe-section{
  background: $white;
  opacity: 0.7;
  width: calc(50% - 80px);
  height: 500px;
  padding: 20px;
}

.direction-list{
  font-size: $font-large;
  color: $darkgrey;
  line-height: 30px;
}
