.recipe--container {
  min-height: 540px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe--container__wrapper{
  padding: 20px;
  margin: 0 auto;
  min-width: 500px;
  width: calc(100% - 100px)
}

.recipe--box{
  padding: 60px 0px;

}
.recipe--title__container{
  padding: 10px;
  background: $white;
  color: $darkgrey;
  opacity: 0.85;
}
.recipe--section{
  background: $white;
  opacity: 0.85;
  width: 400px;
  min-width: 400px;
  height: 500px;
  padding: 20px 20px;
  width: calc(50% - 80px)
}

.direction--list{
  font-size: $font-large;
  color: $darkgrey;
  line-height: 30px;
}
